@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color :#1f1a2e;
}

.container{
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9CB89;
    padding: 1rem;
}

.form-image{
    width: 50rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.rodape{
    width: 90%;
    height: 50vh;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}